app/*.cache
app/cache
app/logs

app/check.php
app/SymfonyRequirements.php

app/config/parameters.yml
app/config/*.local.yml
app/config/deploy.rb
behat.yml

/web/bundles

bin/*
!bin/install
!bin/sylius-cs-fixer
vendor
