{% block subject %}
    {% autoescape false %}
    {{ 'email.shipment_confirmation.subject'|trans }}
    {% endautoescape %}
{% endblock %}
{% block body %}
<h1>{{ 'email.shipment_confirmation.header'|trans }}</h1>

    {% include "SyliusWebBundle:Frontend/Account:Order/_detail.html.twig" %}
{% endblock %}
